@import "./globals.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Variables eliminadas - Ahora se definen en theme.css */

html,
body,
#root {
  height: 100%;
  width: 100%;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: #16bb00; /* Color de hover para los enlaces */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s ease, background-color 0.3s ease;
}

button:hover {
  border-color: #646cff;
  background-color: #333333;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.star {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.star:hover {
  transform: scale(1.2);
}

/* Media queries para optimizar en pantallas más grandes y pequeñas */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5em; /* Ajustar tamaño de texto para pantallas más pequeñas */
  }

  .text-lg {
    font-size: 1rem; /* Reducir el tamaño de texto para elementos de texto más grandes */
  }

  button {
    padding: 0.5em 1em;
    font-size: 0.9em; /* Hacer los botones más pequeños */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
    border-color: #d1d5db;
  }
}
